* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.gate {
  border: 5px rgba(255, 0, 0, 0) solid;
}

.left {
  width: 10px;
  height: 500px;
  margin-left: -410px;
}

.top {
  width: 420px;
  height: 10px;
  margin-top: -510px;
  margin-left: -10px;
}

.right {
  width: 10px;
  height: 500px;
  margin-left: -10px;
}

.bottom {
  width: 420px;
  height: 10px;
  margin-top: 510px;
  margin-left: -420px;
}


